<div class="kwc-letter kwc-letter-c" data-text="CITY LIFE">
  <div class="kwc-letter-c-bg"></div>
  img(src=require('/src/assets/img/letters/c.svg') alt="")
  <div class="kwc-letter-text kwc-letter-c-text-1"></div>
  <div class="kwc-letter-text kwc-letter-c-text-2"></div>
  <div class="kwc-n-grid"></div>
</div>

<div class="kwc-grid-k">
  <div class="row">
    <div class="column"></div>
    <div class="column">
      <h6>1k</h6>
      <p>of mini-factories where people worked and lived</p>
    </div>
    <div class="column">
    </div>
  </div>
  <div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column">
      <p style="font-size: 1.6vw!important">Immigrants</p>
      <p>The original inhabitants of&nbsp;Kowloon were migrants who&nbsp;fled the Chinese regime</p>
    </div>
    <div class="column">
      <p style="font-size: 1.6vw!important">Criminals</p>
      <p>
        |No police - no problems for&nbsp;those who are wanted or&nbsp;engaged in illegal activities
      </p>
    </div>
    <div class="column">
      <!-- <img src="/img/church.svg" alt=""> -->
    </div>
    <div class="column"></div>
  </div>
  <div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column">
      <p style="font-size: 1.6vw!important">Beggars</p>
      <p>Kowloon is not Manhattan, it&nbsp;was often the destination for&nbsp;those who had nowhere else to&nbsp;go</p>
    </div>
    <div class="column"></div>
    <div class="column">
      <h6>$35</h6>
      <p>per month is the average price for renting an apartment, 10&nbsp;times cheaper than in&nbsp;Hong&nbsp;Kong</p>
    </div>
    <div class="column">
    </div>
  </div>
</div>
