
https://cityofdarkness.co.uk/
https://zolimacitymag.com/one-of-a-kind-the-kowloon-walled-city-through-the-eyes-of-photographer-greg-girard/
https://www.greggirard.com/city-of-darkness/
https://cityofdarkness.co.uk/water-fit-to-drink/#post1032
https://daseyn.blogspot.com/2015/02/architecture-without-architects-why-do.html
https://www.architectural-review.com/essays/kowloon-walled-city
https://i.imgur.com/vaQmJgW.jpeg


<div class="kwc-letter kwc-letter-n" data-text="НАСЕЛЕНИЕ">
  <div class="kwc-letter-n-bg"></div>
  <img src="img/n1.svg" alt="">
  <div class="kwc-letter-text kwc-letter-n-text-3"></div>
  <div class="kwc-letter-text kwc-letter-n-text-4"></div>
  <div class="kwc-letter-text kwc-letter-n-text-5"></div>
  <img src="img/n2.svg" alt="">
  <div class="kwc-letter-text kwc-letter-n-text-1"></div>
  <div class="kwc-letter-text kwc-letter-n-text-2"></div>
</div>


/**
 * B
 */

.kwc-letter-b {
  color: #000;
}

.kwc-letter-b-bg {
  position: absolute;
  width: 50%;
  top: 0;
  left: 50%;
  height: 52.1%;
  background-color: #000;
}

.kwc-letter-b:after {
  content: '';
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 35%;
}

.kwc-letter-b-text-1 {
  left: 0;
  width: 50%;
  top: 57.4%;
  transform: skewY(20deg);
  transform-origin: top right;
}

.kwc-letter-b-text-2 {
  left: 50%;
  width: 50%;
  top: 57.4%;
}

/**
 * N
 */

.kwc-letter-n {
  color: #000;
}

.kwc-letter-n:after {
  content: '';
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 35%;
}

.kwc-letter-n-bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

.kwc-letter-n-bg:after,
.kwc-letter-n-bg:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #000;
}

.kwc-letter-n-bg:before {
  top: 0;
  left: 0;
  height: 35%;
  width: 50%;
}

.kwc-letter-n-bg:after {
  top: 0;
  left: 50%;
  height: 52.2%;
  width: 50%;
}

.kwc-letter-n-text-1 {
  left: 0;
  width: 50%;
  top: 57.4%;
  transform: skewY(20deg);
  transform-origin: top right;
}

.kwc-letter-n-text-2 {
  left: 50%;
  width: 16.666%;
  top: 57.4%;
}

.kwc-letter-n-text-3 {
  left: 50%;
  width: 16.666%;
  top: 40.3%;
}

.kwc-letter-n-text-4 {
  left: 66.666%;
  width: 16.666%;
  top: 57.4%;
  transform: skewY(20deg);
  transform-origin: top right;
}

.kwc-letter-n-text-5 {
  right: 0;
  width: 16.666%;
  top: 57.4%;
}
