
|https://cityofdarkness.co.uk/
|https://zolimacitymag.com/one-of-a-kind-the-kowloon-walled-city-through-the-eyes-of-photographer-greg-girard/
|https://www.greggirard.com/city-of-darkness/
|https://cityofdarkness.co.uk/water-fit-to-drink/#post1032

|Воды!

|Водоснабжение всегда было одной из острейших проблем обитателей Коулуна. Вначале воды в городе не было от слова совсем. Жителям приходилось набирать воду в колодце, расположенном за пределами города. Затем появились водоносы, которые за 15 долларов в месяц с человека были готовы приносить воду по расписанию из того самого колодца.
|Вскоре местные предприниматели поняли, что на этой проблеме можно заработать. Они выкопали несколько колодцев в черте города, поставили туда электронасосы, которые ежедневно в определённое время включались и наполняли водой резервуары, которые находились на крышах. А оттуда вода поставлялась жильцам, и стоило всё это удовольствие около 40 долларов в месяц. Состояние всех этих полуинженерных сооружений было весьма плачевным, и очень часто по улицам приходилось ходить под зонтом, так как вода порой на голову не просто капала, а вполне себе лилась.
|Тем не менее проблему до конца это не решило. Если вода в резервуарах кончалась, то приходилось ждать следующего включения насосов. К тому же, такая вода не была пригодна не то что для питья — даже для купания. Плотность населения вкупе с отсутствием системы избавления от отходов сделали землю Коулуна рассадником всевозможной заразы.
| > Коротко о водоснабжении: Коулун, 20-й век. Колодцы.
| Фотогрфии колодцев
| > Проблема водоснабжения так и не была решена окончательно

|Света!
|До 1953 года в городе-крепости электричества не было вообще. Толчком к электрификации «всего и вся» послужил очень крупный пожар, произошедший в новогоднюю ночь 1953 года в лагере беженцев с материкового Китая в районе Шек Кип Мей (Shek Kip Mei), когда от огня без крова остались более 50000 человек. В те времена подобные поселения довольствовались лишь керосиновыми лампами для освещения и печами для приготовления пищи на твердом или жидком топливе.
|Ходили слухи, что этот пожар был устроен специально для привлечения внимания властей к проблеме ужасных условий жизни в «картонных» поселениях беженцев и бедных районов Гонконга. И это сработало - начиная с 1953 года местная электроэнергетическая компания «China Light and Power» начала активную работу по подключению абсолютно всех объектов на территории Гонконга, чтобы сократить использования открытого огня в быту. В их число вошел и Walled City.

|Чистоты!
|Напомним, что площадь этого города-крепости составляла всего лишь 2.7га, и на ней находилось около четырехсот зданий, в которых проживало огромное количество людей и работало более 1000 различных мелких заводиков. Представьте, сколько биологического и производственного мусора рождалось здесь ежедневно. Несмотря на старания регулярно вывозить мусор, на помойку тут было похоже абсолютно все: улицы, крыши и почти каждая квартира.


|Нормальные люди
|Несмотря на обилие представителей разного рода «низших слоев населения», в основном в Коулуне жили добропорядочные люди. Здесь все знали друг друга в лицо, соседи по возможности помогали друг другу. Тут были доступны любые грехи, но было очень мало убийств и в целом было спокойно. Жители Коулуна осознавали, насколько хпупко их существование, и старались не допускать совсем уж драматичных событий. Каждый был занят своим делом и выживал как мог. Это анархическое общество было саморегулируемым.


|Нам закон не писан
|Город–крепость Коулун представлял собой территорию, на которой проживало общество, не признававшее никаких законов. Там царила полная анархия, любой карманник или вор, совершивший преступление, становился неприкосновенной личностью для представителей органов правопорядка, переступая черту данного квартала.

|Здесь отсутствовала полиция, и у каждого была полная свобода заниматься всем, чем запрещалось заниматься в Гонконге. Даже триады — всесильные китайские преступные группировки — держали Коулун за нейтральную зону: тут были запрещены разборки, тут делали дела, отдыхали и скрывались. Особенно спокойно тут стало после того, как Гонконгские власти решили устроить серию рейдов в Коулуне, во время которых были задержаны n человек и n килограммов героина. При всем этом в Коулуне совершалось чрезвычайно мало убийств и других насильственных преступлений. Все понимали, что независимость этой территории штука довольно эфемерная и в случае каких-то совсем уж драматических событий власти сделают все возможное, чтобы положить ей конец.
|Поэтому за порядком следили все — и триады, и обычные жильцы. Полицейские как правило не решались захаживать на территорию Коулуна, но даже если случалось такое, что они пускались в погоню за каким-нибудь карманным воришкой, то местные жители мгновенно забрасывали их отбросами. Агентурная работа в Коулуне также была невозможно, ибо все жители знали друг друга и чужаку сложно было проникнуть в их ряды и прикинуться одним из них.


|И тебя вылечат
|Врачи работали в крайне антисанитарной обстановке. Одним из результатов отсутствия государственного контроля стало появление в Коулуне огромного количества зубных врачей: из 150 врачей 87 были дантистами, все с материкового Китая и ни один из них не имел лицензии на практику в Гонконге. Многие из них были действительно настоящими дантистами и имели соответствующие документы и дипломы материкового образца, но правом легально практиковать в Гонконге не обладали.
|Цены на их услуги разительно отличались от официальных врачей в городе, но качество оборудования, материалов, и непосредственно их квалификация всегда была под вопросом. Впрочем, это не отпугивало большинство малообеспеченных местных, и даже в клиентах «со стороны» недостатка не ощущалось.
|Кроме зубных, естественно были и другие врачи. В основном, конечно, терапевты широкого профиля. Цены на их услуги также были очень низкими и с лицензиями была ровно та же проблема.


|Ученье - свет, но не в Городе Тьмы
|По сути, образования как такового в самом Коулуне не было. Серьезной проблемой были дети, прятавшиеся от школьных занятий.В некоторых зданиях были организованы импровизированные школы и детские сады, куда отдавали своих детей наиболее обеспеченные жители.
|Большинство детей ходили в маленькие группы, которые сообща организовывали их соседи, — там их учили читать, писать, рисовать и декламировать стихи. Но большую часть времени они носились с друзьями по лестницам, коридорам и крышам, играя в сотни разных захватывающих игр.
|В основном за маленькими детьми смотрели старшие члены семей, а детей постарше каким-то образом получалось устраивать в гонконгские школы и университеты.

|Хлеб насущный
|На территории города-крепости находилось около тысячи различных мелких производств, кафе и ресторанчиков. Большинство из них представляло из себя фабрики «одного человека», когда хозяин сам был и рабочей силой, и бухгалтером, и продавцом. Одной из самых распространенных отраслей было производство китайской лапши. Вход в бизнес был недорогим, а спрос - высоким и постоянным. Самую дешевую лапшу в Гонконге можно было купить только здесь. Из-за почти полного отсутствия какого-либо санитарного и эпидемиологического контроля со стороны властей, цены на любую пищевую продукцию в Коулуне были самыми низкими в городе, и никто ни при каких обстоятельствах не мог на это повлиять.
|Кафешки, смотрящие своими витринами «на улицу» из города-крепости, выглядели вполне себе пристойно, но что творилось внутри, было покрыто тайной. Поскольку практически никакого государственного контроля здесь не велось, это развязывало руки владельцам подобных ресторанчиков на увеличение прибыли путем максимального удешевления производства и ингредиентов. Хоть официально на законодательном уровне в Гонконге и было запрещено употреблять в пищу собак, в ресторанах Коулун-сити можно было без труда отыскать блюда из собачатины за очень скромные деньги.
|Что же касается «легкой промышленности», то здесь можно было отыскать мини-фабрики по производству всего, чего угодно. Считалось, что самые высококачественные подделки одежды и обуви выпускались именно здесь, в Коулуне. Изделия из резины, тканей, кожи и даже металла можно было приобрести у местных заводиков практически за копейки.

|Сделай паузу
|Стоит отметить, что в перечне инфраструктуры квартала отсутствовали кинотеатры, клубы и спортивные площадки. Реальным пространством, служащим для рекреации и социализации населения бывшего форта, стали крыши. Тут имелись дорожки и лестницы для перехода с уровня на уровень.
|Только здесь каждый желающий мог найти хоть какое-нибудь свободное место. На крышах играли дети, отдыхала молодежь, общались и встречались их родители, сидели за партией в манджонг представители старшего поколения.
|Что же касается «нижних» этажей города-крепости — тут расцветали бордели и наркопритоны. Контролировать это никто не старался, поскольку законы Гонконга на территории Коулуна не действовали. Таким образом, буквально за стеной квартиры, где проживало семейство с маленькими детьми, утоляли свои желания взрослые в увеселительном заведении. Всё это тесно сосуществовало на этом небольшом клочке земли под названием Коулун.

<div class="kwc-letter kwc-letter-n" data-text="НАСЕЛЕНИЕ">
  <div class="kwc-letter-n-bg"></div>
  <img src="img/n1.svg" alt="">
  <div class="kwc-letter-text kwc-letter-n-text-3"></div>
  <div class="kwc-letter-text kwc-letter-n-text-4"></div>
  <div class="kwc-letter-text kwc-letter-n-text-5"></div>
  <img src="img/n2.svg" alt="">
  <div class="kwc-letter-text kwc-letter-n-text-1"></div>
  <div class="kwc-letter-text kwc-letter-n-text-2"></div>
</div>
