---
import 'styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>City of Darkness</title>
    <link rel="stylesheet" href="ui/index.scss" />

    <!-- <script src="../entries/editor.tsx"></script> -->
  </head>
  <body>
    <slot />
  </body>
</html>
